     <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Blogs</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">
                                        <i class="fa fa-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Blog</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section id="blog-full-width">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="sidebar">
                            <div class="search widget">
                            <%= form_tag(blogs_path, :method => "get", :class => "searchform", :role => "search") do %>
                                    <div class="input-group">
                                        <%= text_field_tag :search, params[:search], :class=> 'form-control', :placeholder => 'Search Something'%>
                                            <span class="input-group-btn">
                                                <%= submit_tag "Search", :class=>"btn btn-default", :name => nil %>
                                            </span>
                                            </div><!-- /input-group -->
                                        <% end %>
                                    </div>
                                    <!-- <div class="author widget">
                                        <img class="img-responsive" src="images/author/author-bg.jpg">
                                        <div class="author-body text-center">
                                            <div class="author-img">
                                                <%= image_tag (profile.image.url(:small))%>
                                            </div>
                                            <div class="author-bio">
                                                <h3><%= label_tag (profile.name) %> <%= label_tag (profile.last_name) %></h3>
                                                <p><%= label_tag (profile.about) %></p>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="categories widget">
                                        <h3 class="widget-head">Categories</h3>
                                        <ul>
                                            <li>
                                                <a href="">Audio</a> <span class="badge">1</span>
                                            </li>
                                            <li>
                                                <a href="">Gallery</a> <span class="badge">2</span>
                                            </li>
                                            <li>
                                                <a href="">Image</a> <span class="badge">4</span>
                                            </li>
                                            <li>
                                                <a href="">Standard</a> <span class="badge">2</span>
                                            </li>
                                            <li>
                                                <a href="">Status</a> <span class="badge">3</span>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="recent-post widget">
                                        <h3>Recent Posts</h3>
                                        <ul>
                                        <% @blog.each do |blog| %>
                                            <li>
                                              <%= link_to blog.title, blog_path(blog.id)%>
                                                <br>
                                                <time>16 May, 2015</time>
                                            </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                            <%= will_paginate @blogs , renderer: BootstrapPagination::Rails %>
                            <% if @blogs.present? %>
                            <% @blogs.each do |blog| %>
                                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                    <!-- <div class="blog-post-image">        
                                      <%= image_tag(blog.image.url(:large)) if blog.image? %>
                                    </div> -->
                                    <div class="blog-content">
                                        <h2 class="blogpost-title">
                                       <%= blog.title%>
                                        </h2>
                                        <div class="blog-meta">
                                            <span><%= blog.updated_at.localtime.strftime("%d %b %Y %I:%M %p")%></span>
                                            <span>by <a href=""><%= label_tag(profile.name)%> <%=label_tag(profile.last_name)%></a></span>
                                            <span><a href="">business</a>,<a href="">people</a></span>
                                        </div>
                                        <%= strip_tags(blog.content.truncate(300)) %>
                                        <br>
                                        <%= link_to "Continue Reading", blog_path(blog.id), :class =>"btn btn-dafault btn-details"%>
                                    </div>
                                </article>
                                <%end%>

                                <%= will_paginate @blogs , renderer: BootstrapPagination::Rails %>
                                <% else %>
                                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                    <div class="blog-content">
                                        <p> there are no posts containing the term(s)  <i><h3><%= params[:search] %></h3></i></p>

                            </div>
                            </article>
                             <% end %>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--
                    ==================================================
                    Call To Action Section Start
                    ================================================== -->
                    <section id="call-to-action">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block">
                                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="300ms">SO WHAT YOU THINK ?</h1>
                                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="300ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                                        <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="300ms">Contact With Me</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>