
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2><%=@blog.title%></h2>
                            <div class="portfolio-meta">
                                <span><%= @blog.updated_at.strftime("%m/%d/%Y - %H-%M-%S")%></span>|
                                <span><%= @blog.category%></span>|
                                <span> Tags: <a href="">business</a>,<a href="">people</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section class="single-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <div class="post-img">
                                <a href="post-fullwidth.html"><%= image_tag(@blog.image.url) if @blog.image? %></a>
                            </div> -->
                            <div class="post-content">
                               <%= sanitize @blog.content %>
                            </div>
                            <ul class="social-share">
                                <h4>Share this article</h4>
                                <li>
                                    <a href="#" class="Facebook">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Twitter">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Linkedin">
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Google Plus">
                                        <i class="ion-social-googleplus"></i>
                                    </a>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="comments" id="list-comments">
                           <%= render 'comment' %>
                           <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
                            </div>
                            <div class="post-comment" id ="form-comment">
                                <h3>Leave a Reply</h3>
                               <%= render 'form_comment' %>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            
            
            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="300ms">SO WHAT YOU THINK ?</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="300ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,</br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                                <a href="#" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="300ms">Contact With Me</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
     